<!DOCTYPE html>
<html>
<head>
  <title>DTM Cross Lockable</title>
  <%= stylesheet_link_tag    "cross-lockable/application", :media => "all" %>
  <%= javascript_include_tag "cross-lockable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
